/* assets/css/main.css */
@import "tailwindcss";

@theme {

  --color-text-primary: #1F2937;      
  --color-text-secondary: #64748B;    
  --color-text-muted: #94A3B8;         


  --color-background-primary: #F8FAFC;   
  --color-background-secondary: #FFFFFF; 
  --color-background-hover: #F1F5F9;    

  
  --color-primary: #3B82F6;              
  --color-primary-hover: #2563EB;       
  --color-primary-soft: #EFF6FF;         


  --color-accent: #F97316;              
  --color-accent-hover: #EA580C;         
  --color-accent-soft: #FFF7ED;          

  
  --color-menu-background: #FFFFFF;
  --color-menu-hover-background: #F8FAFC;
  --color-menu-active-background: #EFF6FF; 
  --color-menu-text: #334155;
  --color-menu-text-active: #3B82F6;       


  --color-border-primary: #E2E8F0;       
  --color-border-secondary: #F1F5F9;     


  --color-success: #22C55E;              
  --color-warning: #FBBF24;             
  --color-error: #EF4444;                


  --color-premium-border: #FDBA74;       
  --color-premium-background: #FFF7ED;   
}



* {
  /* Nuxt @fonts จะรู้เองว่าต้องไปโหลดฟอนต์ Prompt มาให้ */
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  font-style: normal;
}

@layer base {
    :host,
    html {
        -webkit-text-size-adjust: 100%;
        text-size-adjust: 100%;
    }
}

body {
background-color: var(--color-background-primary);
  color: var(--color-text-primary);
}